@import 'font-styles';
@import '_main-block';
@import '_services-block';
@import '_technic-block';
@import '_menu';
@import '_modal';

html {
  background-color: #fff;
  box-sizing: border-box;
  font-weight: 400;
}
*, *:before, *:after {
  font-weight: inherit;
  font-family: 'TT Lakes';
  box-sizing: inherit;
  margin: 0px;
  text-decoration: none;
  color: inherit;
}
body{
  background-color: #F8F8F8;
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font;
  position: relative;
  color: $black;
  overflow-y: hidden;
}
